.carousel-teaser {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 1200px;
  /* height: 90vh; */
  justify-content: space-evenly;
}

.carousel-teaser .carousel-body {
  display: flex;
  flex-direction: row-reverse;
}

.carousel-teaser .content-layer {
  width: 60%;
  padding: 0 15px;
  margin: auto;
}

.carousel-teaser .asset-layer {
  width: 40%;
}

.carousel-teaser .asset-layer img {
  height: 100%;
  margin: auto;
  /* min-height: 400px; */
  object-fit: cover;
}

.carousel-teaser .asset-layer {
  margin: auto;
}

.carousel-teaser .control-arror {
  color:blue;
}

.slide {
  height: 100%;
}

.slide > picture > img {
  height: 100%;
}

.carousel {
  position: sticky;
  width: var(--hero-teaser-width);
  height: var(--hero-teaser-height);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
}

.iframe .carousel {
  height: 800px;
  background-color: var(--main-dark-background);
}

.carousel .button {
  background-color: #00A3EE;
  color:white;
  border: #00A3EE;
}

.carousel-teaser .dark {
  color: #000;
}

.carousel-teaser .dark h1 {
  color: #000;
}

.carousel-teaser .light {
  color: #fff;
}

.carousel-teaser .light h1 {
  color: #fff;
}