.carousel-teaser {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 1200px;
  /* height: 90vh; */
  justify-content: space-evenly;
  text-align: justify;
  min-width: 1024px;
}


.carousel .slide > picture > img {
  object-fit: fill;
  min-height: 100vh;
  min-width: 100vw;
}

.carousel-teaser .carousel-body {
  display: flex;
  flex-direction: row-reverse;
}

.carousel-teaser .content-layer {
  width: 70%;
  padding: 0 15px;
  margin: auto;
  /* background-color: #00A3EE; */
}

.carousel-teaser .asset-layer {
  /* background-color: red; */
  padding: 0;
  margin: 0;
  width: 569px;
  height: 401px;
  padding: 10px;
}

.carousel-teaser .asset-layer img {
  height: 100%;
  margin: 0;
  /* min-height: 400px; */
  object-fit: cover;
  padding: 0;

}

.carousel-teaser .asset-layer {
  margin: auto;
}

.carousel-teaser .control-arror {
  color: blue;
}

.slide {
  height: 100%;
}

.slide>picture>img {
  height: 100%;
}

.carousel {
  /* position: absolute; */
  /* top: 0; */
  position: sticky;
  /* background-color: #00A3EE; */
  width: var(--hero-teaser-width);
  height: var(--hero-teaser-height);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
}

.iframe .carousel {
  height: 100%;
}

.iframe .carousel .slide > picture > img {
  object-fit: fill;
  min-height: 100%;
  min-width: 100%;
}

.carousel .button {
  background-color: #00A3EE;
  color: white;
  border: #00A3EE;
  position: absolute;
  right: 0;
  bottom: 0;
}

.carousel-teaser .dark {
  color: #000;
}

.carousel-teaser .dark h1 {
  color: #000;
}

.carousel-teaser .light {
  color: #fff;
}

.carousel-teaser .light h1 {
  color: #fff;
}

body {
  overflow: hidden;
}